<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Users with Templates</h1>
    
    {% for user in all_users %}
    <p>{{user.first_name}} {{user.last_name}} {{user.email}} {{user.age}}</p>
    {% endfor %}
    <h2>Add a User</h2>
    <form action="/process" method="POST">
    {% csrf_token %}
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <label for="age">Age</label>
    <input type="number" name="age" id="age">
    <input type="submit" value="Submit">
    </form>
</body>
</html>